@media (max-width: 620px){
    .card{
        display: block;
        height: 605px;
        max-width: 340px;
    }

    .card .product-preview{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        min-height: 40%;
    }

    .card .right-section{
        padding: 15px;
    }
}